@font-face {
    font-family: 'Arial';
    src: url('fonts/subset-ArialMT.eot');
    src: url('fonts/subset-ArialMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ArialMT.woff2') format('woff2'),
        url('fonts/subset-ArialMT.woff') format('woff'),
        url('fonts/subset-ArialMT.ttf') format('truetype'),
        url('fonts/subset-ArialMT.svg#ArialMT') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBlack';
    src: url('fonts/subset-Lato-Black.eot');
    src: url('fonts/subset-Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Black.woff2') format('woff2'),
        url('fonts/subset-Lato-Black.woff') format('woff'),
        url('fonts/subset-Lato-Black.ttf') format('truetype'),
        url('fonts/subset-Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: url('fonts/subset-Lato-Bold.eot');
    src: url('fonts/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Bold.woff2') format('woff2'),
        url('fonts/subset-Lato-Bold.woff') format('woff'),
        url('fonts/subset-Lato-Bold.ttf') format('truetype'),
        url('fonts/subset-Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/subset-Lato-Regular.eot');
    src: url('fonts/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Regular.woff2') format('woff2'),
        url('fonts/subset-Lato-Regular.woff') format('woff'),
        url('fonts/subset-Lato-Regular.ttf') format('truetype'),
        url('fonts/subset-Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}
.fonheader {  
    background-color: #e8ebf1;
    padding: 36px 0px 47px 0px;
}
.foncoffee {
    background-color: #81e4ed;
    padding: 20px 0px 20px 0px;
}
.logo {
    color: #000000;
    font-family: 'LatoBlack', sans-serif;
    font-size: 50px;
    line-height: 20px;
    float: left;
}
.logos {
    color: #2aacc8;
    font-family: 'LatoRegular', sans-serif;
    font-size: 50px;
    line-height: 20px;
}
.nav {
    float: right;
}
.clearfix {
    clear: both;
}
.menu {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    margin-left: 32px;
}
.link {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #050505; 
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px 15px 10px;
}
.hdown {
    position: relative;
}    
.serv {
    position: absolute;
    list-style: none;
    display: none;
    border-bottom: 5px solid #2aacc8;
}
.hdown:hover .serv {
    display: block;
}
.str::after {
    content: '';
    background-image: url('images/down_arrow.png');
    width: 7px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 11px;
}
.sudmenu {
    width: 199px;
    text-decoration: none;
    line-height: 36px;
    font-size: 13px;
    font-weight: 400;
    color: #030303;
    display: block;
    padding-left: 11px;
    border-bottom: 1px solid #ededed;
}
.sudmenu:hover {
    color: #50bbd2;
}
.hdown:hover {
    background-color: #ffffff;  
    box-shadow: 0 -5px 0 #2aacc8;
}
.str:hover {
    color: #42b5ce;   
}
.sr {
    background-color: #ffffff;
    padding-left: 6px;
    padding-right: 6px;
}
.fon {
    background-color: #e05936;
}
.we {
    color: #ffffff;
    width: 284px;
    font-family: 'LatoBold', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 102px;
    margin-left: 61px;
}
.cofe {
    background-image: url('images/paper-coffee-cup-512x512.png');
    width: 200px;
    height: 410px;
    margin-top: 3px;
    margin-left: 61px;
}
.rings {
    background-image: url('images/Layer_4.png');
    width: 448px;
    height: 440px;
    margin-left: -59px;
}
.rew {
    display: inline-block;
    vertical-align: top;
}
.points {
    text-align: center;
    margin-top: 20px;
}
.point {
    display: inline-block;
    vertical-align: top;
    background-color: #71a3a7;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 17px;
}
.point:hover {
    background-color: #ffffff;
}
.fonmain {
    background-color: #e8ebf1;
    padding: 60px 0px 51px 0px;
}
.card {
    width: 219px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 39px;
}
.card_airplane {
    margin-right: 0px;
}
.ikon {
    background-image: url('images/Shape_2.png');
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
}
.two {
    background-image: url('images/fullscreen.png');
    background-size: 21px;
}
.three {
    background-image: url('images/view_list.png');
    background-size: 16px;
}
.four {
    background-image: url('images/plane_2.png');
    background-size: 26px;
}
.card_title {
    display: inline-block;
    vertical-align: top;
}
.CT {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    color: #434446;
    margin: 11px 0px 18px 19px;
}
.card_text {
    font-size: 13px;
    line-height: 20px;
    color: #363636;
}
.read {
    font-size: 13px;
    line-height: 20px;
    color: #2aacc8;
    margin-top: 16px;
}
.read::before {
    content: '';
    background-image: url('images/arrow.png');
    width: 5px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 9px 2px 1px;
}
.works {
    margin-top: 29px;
    width: 1000px;
    border-bottom: 1px solid #dfe1e5;
    padding-bottom: 18px;
}
.work {
    display: inline-block;
    vertical-align: top;
}
.lat {
    color: #212121;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 792px;
}
.lat::before { 
    content: '';
    background-image: url('images/Shape_3.png');
    width: 14px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25px;
    margin-left: 1px;
}
.but {
    background-image: url('images/Shape_1.png');
    background-color: #81e4ed;
    background-size: 7px;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.right {
    transform: rotate(180deg);
    margin-left: 11px;
}
.contents {
    margin-top: 20px;
    width: 1000px;
    border-bottom: 1px solid #dfe1e5;
    padding-bottom: 40px;
}
.foncontent {
    background-color: yellow;
    padding-top: 29px;
    padding-left: 69px;
}
.preview::before {
    content: '';
    background-image: url('images/preview.png');
    width: 35px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-right: 35px;
}    
.links::before {
    content: '';
    background-image: url('images/link.png');
    width: 20px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
}
.content {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.content .foncontent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 81px;
    display: none;
}
.content:hover .foncontent {
    display: block;
}
.limon {
    background-color: red;
}
.figur {
    background-color:  #2aacc8; 
}
.mishen {
    background-color: green;
}
.content {
    margin-right: 40px;
}
.mishens {
    margin-right: 0px;
}
.moin {
    width: 425px;
    margin-top: 21px;
}
.test {
    font-size: 15px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
}
.test::before {
    content: '';
    background-image: url('images/comments.png');
    width: 24px;
    height: 23px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
}
.testlor {
    font-size: 14px;
    line-height: 24px;
    color: #363636;
    margin-top: 22px;
}
.john {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 24px;
}
.clients {
    font-size: 15px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
}
.clients::before {
    content: '';
    background-image: url('images/clients.png');
    width: 24px;
    height: 20px;
    display: inline-block;
    vertical-align: 0px;
    margin-right: 15px;
}
.client {
    width: 480px;
    margin-top: 19px;
    margin-left: 90px;
}
.testour {
    display: inline-block;
    vertical-align: top;
}
.imgclient {
    background-image: url('images/12-layers.png');
    background-repeat: no-repeat;
    width: 480px;
    height: 203px;
    margin-top: 19px;
}
.fondownl {
    background-color: #e8fcfe;
    padding-top: 35px;
    padding-bottom: 37px;
    border: 1px solid #aceef4;
    margin-top: 41px;
}    
.PSD {
    font-size: 16px;
    line-height: 26px;
    width: 607px;
    color: #363636;
    float: left;
    margin-left: 31px;
}
.downl {
    background-color: #2aacc8;
    width: 240px;
    float: right;
    margin-right: 40px;
    margin-top: 3px;
    border: 2px solid #88d3e2;
    border-radius: 10px;
    background: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
}
.dowldoad {
    text-decoration: none;
    color: #233436;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;   
}
.dowldoad::before {
    content: '';
    background-image: url('images/download.png');
    width: 28px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 24px;
}
.downld {
    list-style: none;
    padding-top: 16px;
    padding-bottom: 19px;
}
.clearfix { 
    clear: both;
}
.fonfooter {
    background-color: #e8ebf1;
    padding: 33px 0px 54px 0px;
    margin-top: 40px;
    border-top: 2px solid #dddedf;
}
.footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about {
    width: 233px;
    margin-right: 62px;
}
.aboutus {
    color: #060606;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.ipsum {
    color: #363636;
    font-size: 14px;
    line-height: 20px;
    margin-top: 27px;
}
.explores {
    width: 71px;
    margin-right: 72px;
}
.explore {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav_explore {
    font-size: 14px;
    line-height: 26px;
    margin-top: 16px;
}
.nav_explore__item {
    list-style: none;
}
.nav_explore__item--link {
    text-decoration: none;
    color: #363636;
}
.nav_explore__item--link:hover {
    color: #2aacc8;
    font-weight: 700;
}
.browses {
    width: 104px;
    margin-right: 60px;
}
.browse {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.nav_browse {
    font-size: 14px;
    line-height: 26px;
    margin-top: 16px;
}
.nav_browse__item {
    list-style: none;
}
.nav_browse__item--link {
    text-decoration: none;
    color: #363636;
}
.nav_browse__item--link:hover {
    color: #2aacc8;
    font-weight: 700;   
}
.contact {
    width: 136px;
    margin-right: 50px;
}
.contactus {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.inc {
    color: #363636;
    font-size: 15px;
    font-weight: 700;
    margin-top: 24px;
}
.adress {
    color: #363636;
    font-size: 14px;
}
.tel {
    font-size: 14px;
    margin-top: 24px;
}
.telf {
    text-decoration: none;
    color: #363636;
}
.telf:hover {
    color: #2aacc8;
    font-weight: 700;   
}
.fax {
    color: #363636;
    font-size: 14px;
}
.connect {
    width: 207px;
}
.connectus {
    color: #313132;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 9px;
    margin-bottom: 20px;
}
.social_network {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.facebok::before {
    content: '';
    background-image: url('images/facebook.png');
    width: 53px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
}
.social_network--item {
    transition: 1s;
}
.social_network--item:hover {
    transform: rotateY(180deg);
}
.drib::before {
    content: '';
    background-image: url('images/dribbble.png');
    width: 53px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
}
.pint::before {
    content: '';
    background-image: url('images/pinterestikon.png');
    width: 53px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
}
.ln::before {
    content: '';
    background-image: url('images/linkedin.png');
    width: 53px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.skype::before {
    content: '';
    background-image: url('images/skype.png');
    width: 53px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.share::before {
    content: '';
    background-image: url('images/share.png');
    width: 53px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.copyr {
    width: 640px;
    margin-top: 43px;
}
.copyrig {
    color: #363636;
    font-size: 13px;
    line-height: 18px;
}
.logofooter {
    margin-top: 44px;
    margin-left: 204px;
}
.logofooter:hover {
    transform: rotate(180deg);
}
.container {    
    max-width: 1010px;
    width: 100%;
    padding-left: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
