@font-face {
    font-family: 'Arial';
    src: url('fonts/subset-ArialMT.eot');
    src: url('fonts/subset-ArialMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ArialMT.woff2') format('woff2'),
        url('fonts/subset-ArialMT.woff') format('woff'),
        url('fonts/subset-ArialMT.ttf') format('truetype'),
        url('fonts/subset-ArialMT.svg#ArialMT') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBlack';
    src: url('fonts/subset-Lato-Black.eot');
    src: url('fonts/subset-Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Black.woff2') format('woff2'),
        url('fonts/subset-Lato-Black.woff') format('woff'),
        url('fonts/subset-Lato-Black.ttf') format('truetype'),
        url('fonts/subset-Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: url('fonts/subset-Lato-Bold.eot');
    src: url('fonts/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Bold.woff2') format('woff2'),
        url('fonts/subset-Lato-Bold.woff') format('woff'),
        url('fonts/subset-Lato-Bold.ttf') format('truetype'),
        url('fonts/subset-Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/subset-Lato-Regular.eot');
    src: url('fonts/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Regular.woff2') format('woff2'),
        url('fonts/subset-Lato-Regular.woff') format('woff'),
        url('fonts/subset-Lato-Regular.ttf') format('truetype'),
        url('fonts/subset-Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}
.fonheader {  
    background-color: #e8ebf1;
    padding: 36px 0px 47px 0px;
}
.foncoffee {
    background-color: #81e4ed;
    padding: 20px 0px 20px 0px;
}
.logo {
    color: #000000;
    font-family: 'LatoBlack', sans-serif;
    font-size: 50px;
    line-height: 20px;
    float: left;
}
.logos {
    color: #2aacc8;
    font-family: 'LatoRegular', sans-serif;
    font-size: 50px;
    line-height: 20px;
}
.nav {
    float: right;
}
.clearfix {
    clear: both;
}
.menu {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px; 
    margin-left: 32px;
    margin-right: 18px;
}
.link {
    display: block;
    text-decoration: none;
    color: #050505; 
    text-transform: uppercase;
    text-align: center;
}
.down {
    position: relative;
}
.str {
    /* position: relative; */
    text-decoration: none;
    color: #050505; 
    text-transform: uppercase;
    text-align: center;
}
.str::after {
    content: url('images/down_arrow.png');
    margin-left: 10px;
}
.serv {
    position: absolute;
    list-style: none;
    display: none;
    border-bottom: 5px solid #2aacc8;
}
.sudmenu {
    text-decoration: none;
    line-height: 36px;
    font-size: 13px;
    font-weight: 400;
    color: #030303;
    display: block;  
}
.sudmenu:hover {
    color: #50bbd2;
}
.str:hover {
    color: #42b5ce;   
    background-color: #ffffff;
    border-top: 5px solid #2aacc8; 
    padding: 5px 0px 5px 0px;
}
.sr {
    border-bottom: 1px solid #ededed;
    padding: 0px 5px 0px 5px;
    background-color: #ffffff;
}
.down:hover .serv {
    display: block
}
.fon {
    background-color: #e05936;
}
.we {
    color: #ffffff;
    width: 284px;
    font-family: 'LatoBold', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 102px;
    margin-left: 61px;
}
.cofe {
    background-image: url('images/paper-coffee-cup-512x512.png');
    width: 200px;
    height: 410px;
    margin-top: 3px;
    margin-left: 61px;
}
.rings {
    background-image: url('images/Layer_4.png');
    width: 448px;
    height: 440px;
    margin-left: -59px;
}
.rew {
    display: inline-block;
    vertical-align: top;
}
.points {
    text-align: center;
    margin-top: 20px;
}
.point {
    display: inline-block;
    vertical-align: top;
    background-color: #71a3a7;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 17px;
}
.point:hover {
    background-color: #ffffff;
}
.fonmain {
    background-color: #e8ebf1;
    padding: 60px 0px 51px 0px;
}
.card {
    width: 219px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.ikon {
    background-image: url('images/Shape_2.png');
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
}
.two {
    background-image: url('images/fullscreen.png');
    background-size: 21px;
}
.three {
    background-image: url('images/view_list.png');
    background-size: 16px;
}
.four {
    background-image: url('images/plane_2.png');
    background-size: 26px;
}
.card_title {
    display: inline-block;
    vertical-align: top;
}
.CT {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    color: #434446;
    margin: 11px 0px 18px 19px;
}
.card_text {
    font-size: 13px;
    line-height: 20px;
    color: #6c6c6e;
}
.read {
    font-size: 13px;
    line-height: 20px;
    color: #48b6ce;
    margin-top: 16px;
}
.read::before {
    content: url('images/arrow.png');
    margin-right: 9px;
}

.container {    
    max-width: 1010px;
    width: 100%;
    padding-left: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
